<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1 th:text="'Website: ' + ${url.getName()}"></h1>

        <table class="table table-bordered table-hover mt-3">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td th:text="${url.getId()}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${url.getName()}"></td>
                </tr>
                <tr>
                    <td>Date of creation</td>
                    <td th:text="*{#temporals.format(url.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
                </tr>
            </tbody>
        </table>

        <h2 class="mt-5">Checks</h2>
        <form method="post" th:action="@{|/urls/${url.getId()}/checks|}">
            <button type="submit" class="btn btn-primary">Start check</button>
        </form>

        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-1">Response code</th>
                    <th>Title</th>
                    <th>H1</th>
                    <th>Description</th>
                    <th class="col-2">Date of the check</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="check : ${url.getUrlChecks()}" th:object="${check}">
                    <td th:text="*{getId()}"></td>
                    <td th:text="*{getStatusCode()}"></td>
                    <td th:text="*{getTitle()}"></td>
                    <td th:text="*{getH1() != null} ? *{getH1()} : ''"></td>
                    <td th:text="*{getDescription() != null} ? *{getDescription()} : ''"></td>
                    <td th:text="*{getCreatedAt() != null} ? *{#temporals.format(getCreatedAt(), 'dd/MM/yyyy HH:mm')} : ''"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

</html>
