<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Анализатор страниц</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.1.3/css/bootstrap.min.css'>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>

<section layout:fragment="content">
    <div class="card">
        <div class="card-body p-5 bg-light">
            <div class="display-4">Анализатор страниц</div>
            <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>
            <form class="rss-form text-body" action="/urls" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <input id="url-input" autofocus="" type="text" required="" name="url" aria-label="url" class="form-control w-100" placeholder="ссылка RSS" autocomplete="off">
                        <label for="url-input">Ссылка</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="h-100 btn btn-lg btn-primary px-sm-s" type="submit">Проверить</button>
                </div>
            </div>
            </form>
            <p class="mt-2 mb-o text-muted">Пример: https://www.example.com</p>
        </div>
    </div>
</section>

</html>
