<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <div class="card">
        <div class="card-body p-5 bg-light">
            <h1 class="display-3 mb-0">Page Analyzer</h1>
                <p class="lead">Check websites for SEO suitability for free</p>
                <form class="rss-form text-body" action="/urls" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input id="url-input" autofocus type="text" required name="url" aria-label="url"
                                       class="form-control w-100" placeholder="ссылка RSS" autocomplete="off">
                                <label for="url-input">Link</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="h-100 btn btn-lg btn-primary px-sm-5">Check</button>
                        </div>
                    </div>
                </form>
                <p class="mt-2 mb-0 text-muted">Example: https://www.sample.com</p>
            </div>
        </div>
</section>

</html>
